.container.computers {
  max-width: none;
}

.card.computer {
  border-radius: 1.5rem;
  background-color: #303030;
  border: 0;
  overflow: hidden;
}

.card-image {
  text-align: center;
}

.card-image > img {
  width: auto;
  max-height: 20rem;
}