html {
  font-size: 10px;
  scrollbar-color: #707070 transparent;
  line-height: 1.25;
}

body {
  background-color: #252525;
  color: #eeeeee;
  font-size: 1.7rem;
  margin: 0;
}

button, input, textarea {
  font-size: 1.75rem;
  line-height: inherit;
  padding: .7rem;
  outline: none;
  border: .1rem solid;
  border-radius: .5rem;
}

input, textarea, .form-control {
  background-color: #303030;
  color: #eeeeee;
  border-color: #151515;
  border-radius: 1rem;
}

.form-control::placeholder {
  color: #808080;
}

input:focus, textarea:focus {
  border-color: #505050;
}

button {
  background-color: #404040;
  color: #f0f0f0;
  border-color: transparent;
  cursor: pointer;
}

button:hover, button:focus {
  background-color: #484848;
}

button:active {
  background-color: #505050;
}

a {
  text-decoration: none;
}

form > div {
  padding: .5rem;
}

#main-header {
  background-color: #2c2c2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
}

#main-header .user-name {
  color: #02a6ff;
}

.nav-link {
  font-size: 2rem;
  display: inline-block;
  padding: .75rem;
  border-radius: 1rem;
}

.nav-link:hover {
  background-color: #404040;
}

main {
  padding: 2rem;
}

.btn, .form-control {
  font-size: inherit;
}

.container {
  max-width: 80rem;
}